<div *ngIf="news.length ; else loading" class="">
   <h2>Dashboard projects</h2>
   <table>
      <thead>
         <tr>ID</tr>
         <tr>Title</tr>
         <tr>Text</tr>
         <tr>Date of creation</tr>
         <tr>Delete</tr>
      </thead>

      <tbody>
         <tr *ngFor="let new of news; let idx = index">
            <td>{{idx+1}}</td>
            <td>{{new.title}}</td>
            <td>{{new.text}}</td>
            <td>{{new.date}}</td>
            <td>
               <button [routerLink]="['/admin','news',news.id,'edit']">Edit</button>
            </td>
            <td><button (click)="remove(new.id)">Delete</button></td>
         </tr>
      </tbody>
   </table>
</div>

<ng-template #loading>
   <p>loading</p>
</ng-template>