<div class="team container ">
   <div class="team-header text-center">
      <h3>Meet Our Team</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt dolor risus, nec convallis justo
         malesuada nec.</p>
   </div>
   <div class="team-body text-center">
      <div class="team-body-item">
         <h4 class="name">Илья</h4>
         <p class="skills">Front end</p>
      </div>
      <div class="team-body-item">
         <h4 class="name">Вадим</h4>
         <p class="skills">Back end</p>
      </div>
      <div class="team-body-item">
         <h4 class="name">Аделя</h4>
         <p class="skills">web-design, верстальщик</p>
      </div>
      <div class="team-body-item">
         <h4 class="name">Сергей</h4>
         <p class="skills">web-design, программист</p>
      </div>
   </div>
</div>